<div class="card mt-2" style="width: auto;">
	<div class="card-body">
		<h5 class="card-title">{{ doc.name }}</h5>
		<h6 class="card-subtitle mb-2 text-muted">{{ doc.source_airport_code }} ➜ {{ doc.destination_airport_code }}</h6>
		<p class="card-text">
		{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | 
		{{ doc.time_of_departure }} | 
		{{ frappe.utils.format_duration(doc.duration) }}</p>
	  	<a class="btn btn-primary" href="{{ doc.route }}" class="card-link">View Flight</a>
	</div>
</div>
<!-- this is a sample default list template -->
